@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

h1 {
  font-family: 'Trocchi', serif;
}

h2 {
  font-family: 'Trocchi', serif;
}
h3 {
  font-family: 'Trocchi', serif;
}
p {
  font-family: 'Raleway', sans-serif;
}
li {
  font-family: 'Raleway', sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  /* font-size: larger; */
  font-weight: 600;
  color: rgb(60, 105, 144);
}
a:hover {
  text-decoration: underline;
  color: rgb(56, 164, 26);
}

.wrapper {
  height: 100%;
}

.left {
  /* background-color: rgba(0, 0, 0, 0.025); */
  background-color: rgba(253, 238, 124, 0.3);
  border-right: 1px solid rgba(0, 0, 0, .2);
  float: right;
  height: 100%;
  margin-left: -1px;
  min-width: 256px;
  position: fixed;
  width: 33.33%;
  text-align: center;
  padding-top: 5em;
  padding-right: 1em;
  padding-left: 1em;
}

.left h1 {
  font-family: 'Trocchi', serif;
}
.left p {
  font-family: 'Raleway', sans-serif;
}

img {
  height: 200px;
}

.right {
  float: right;
  height: 100%;
  position: relative;
  width: 66.66%;
}

.inner {
  margin: 0 auto;
  max-width: 975px;
  padding: 3em;
}

.projects {
  background: linear-gradient(to bottom right, rgb(160, 203, 241) 30%, rgb(45, 72, 96) 100%);
  opacity: 0.8;
  /* border: 2px solid rgb(45, 48, 96); */
  border-radius: 0.75rem;
  border-radius: 0.95rem;
  text-align: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
}
.projects li{
  /* background: #faf083; */
  background-color: rgb(253, 244, 171);
  border-radius: 5px;
  color: rgb(45, 48, 96);
  display: inline-block;
  list-style: none;
  margin: 15px 15px 0 0;
  padding: 10px;
  text-align: justify;
}

.skill-set li {
  background: rgb(167, 198, 226);
  border-radius: 5px;
  color: black;
  display: inline-block;
  list-style: none;
  margin: 15px 15px 0 0;
  padding: 10px;
  text-align: justify;
}

/* Collapsibles */
.collapsible {
  background-color: rgb(144, 176, 205);
  /* background: linear-gradient(to bottom right, rgb(160, 203, 241) 30%, rgb(84, 117, 145) 100%); */
  color: black;
  font-family: 'Trocchi', serif;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  margin: 15px 15px 0 0;
  border-radius: 5px;
}

.active, .collapsible:hover {
  background-color: rgb(84, 117, 145);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgb(232, 240, 247);
  font-family: 'Raleway', sans-serif;
}

/* dealing with screen width */
@media screen and (max-width: 48em) {
  .right, .left {
    float: none;
    position: relative !important;
    width: 100%;
    min-height: 500px;
  }

  /* .handmade {
    text-align: center !important;
    margin-top: 0px !important;
  } */

  @media screen and (max-width: 75em) {
    body {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 60em) {
    body {
      font-size: 14px;
    }
  }

  .clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  /* .handmade {
    text-align: right;
    margin-top: 100px;
  }

  .handmade em {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.25em;
    margin-left: 5px;
  } */
}